@control-range: 45px;
@control-btns: 66px;

.video {
	position: relative;
	line-height: 0;
	margin-bottom: 100px;

	@media @tablet-media {
		margin-bottom: 40px;
	}

	@media @desktop-media {
		width: 800px;
		margin: 0 auto 85px;
	}

	&__control {
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		padding: 0 20px;
		bottom: -@control-btns;

		@media @tablet-media {
			padding: 0;
			position: absolute;
			bottom: 0;
		}
	}

	&__control-range {
		height: @control-range;
		background-color: rgba(0, 0, 0, .6);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 22px;
			right: 22px;
			height: 3px;
			top: 22px;
			background-color: rgba(255, 255, 255, .2);
			cursor: pointer;
		}

		&::after {
			content: "";
			position: absolute;
			height: 9px;
			width: 9px;
			border-radius: 50%;
			left: 58px;
			top: 19px;
			background-color: #fff;
			cursor: pointer;
		}

		@media @tablet-media {
			height: 93px;

			&::before {
				top: 45px;
				left: 93px;
				right: 166px;
			}

			&::after {
				top: 42px;
				left: 206px;
			}
		}

	}

	&__control-buttons {
		height: @control-btns;
		background-color: #f2f2f2;
		position: relative;

		@media @tablet-media {
			height: 0;
			position: static;
		}
	}

	&__control-btn {
		font-size: 0;
		position: absolute;
		border: none;
		cursor: pointer;
		background: none;

		&--replay {
			left: 25px;
			top: 50%;
			transform: translateY(-50%);

			@media @tablet-media {
				left: 29px;
			}

			@media @desktop-media {
				left: 34px;
			}
		}

		&--subtitles {
			right: 74px;
			top: 50%;
			transform: translateY(-50%);

			@media @tablet-media {
				right: 86px;
			}

			@media @desktop-media {
				right: 94px;
			}
		}

		&--full {
			right: 23px;
			top: 50%;
			transform: translateY(-50%);

			@media @tablet-media {
				right: 35px;
			}

			@media @desktop-media {
				right: 43px;
			}
		}

		& svg {
			fill: #5c6870;

			@media @tablet-media {
				fill: #fff;
			}
		}

		@media @tablet-media {
			&:hover {
				svg {
					fill: #333333;
				}
			}
			&:focus, &:active {
				outline: none;

				svg {
					fill: #c1c1c1;
				}
			}
		}
	}
}
